.circle {
    position: fixed;
    width: 40px;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.85);
    border-radius: 100%;
    top: -20px;
    left: -20px;
    pointer-events: none;
    z-index: 2147483646;
    mix-blend-mode: difference;
}

@media (hover: none) {
    .circle {
        display: none;
    }
}

@media (prefers-reduced-motion: reduce) {
    .circle {
        display: none;
    }
}
