/* Shooting stars only. Static stars are in space-background.css */

@keyframes shootingStarGlide {
    0% {
        transform: translate(0px, 0px) rotate(var(--rot)) scaleX(0.5);
        opacity: 0;
    }

    10% {
        opacity: 1;
        transform: translate(-40px, 40px) rotate(var(--rot)) scaleX(1);
    }

    90% {
        opacity: 1;
    }

    100% {
        transform: translate(var(--dx), var(--dy)) rotate(var(--rot)) scaleX(1);
        opacity: 0;
    }
}

@keyframes tailFlutter {
    0%, 100% {
        transform: scaleX(1);
        opacity: 0.7;
    }

    50% {
        transform: scaleX(1.1);
        opacity: 1;
    }
}

@keyframes stardustFade {
    0% {
        transform: scale(1);
        opacity: 0.8;
    }

    100% {
        transform: scale(0);
        opacity: 0;
    }
}

.shooting-star {
    position: absolute;
    z-index: 0;
    pointer-events: none;
    opacity: 0;
}

.shooting-star.is-laser {
    transform-origin: 100% 50%;
    will-change: transform;
}

.shooting-star-tail-group {
    animation: tailFlutter 0.2s infinite alternate ease-in-out;
    transform-origin: 100% 50%;
}

.stardust-particle {
    fill: #F8F8FF;
    filter: blur(1px);
    transform-origin: center center;
    animation: stardustFade 0.8s forwards ease-out;
}
